

* {
    font-family: Vazirmatn, Arial, Tahoma, serif;
}

.search-properties-conatainer {
    width: 95%;
    margin: 1rem auto;
    min-height: 30rem;
    padding: 2rem;
    border-radius: 1rem;
    border-top: 3rem solid rgb(82, 0, 41);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.search-not-found{
    text-align: center;
    margin: 5rem auto;
    font-size: 25px;
    color: rgb(82, 0, 41);
    font-weight: 600;
}
