* {
    font-family: Vazirmatn, Arial, Tahoma, serif;
}

.property-details-card {
    width: 95%;
    margin: 1rem auto;
    min-height: 30rem;
    padding: 2rem;
    border-radius: 1rem;
    border-top: 3rem solid rgb(82, 0, 41);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.property-image-detail {
    margin: 0 auto;
    width: 60%;
}

.property-details-card-image {
    margin: 0.5rem auto !important;
    width: 100%;
    height: 450px;
    border-radius: 1rem;
    text-align: center;
}

.property-detail-content {
    width: 60%;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.proprty-details-title {
    font-size: 25px;
    font-weight: 700;
    color: #424242;
    margin-bottom: 1rem;
}

.property-details-pricing {
    width: 40%;

}

.property-detail-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: rgb(82, 0, 41);
    font-size: 18px;
    font-weight: bold !important;
}


.property-details-name {
    font-weight: 700;
}

.property-details-price {
    font-size: 17px;
    font-weight: 600;
}

.property-details-location {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40%;
    font-size: 15px;
    font-weight: 600;
    color: #424242;
}

.property-details-location-icon {
    width: 25px !important;
    height: 25px !important;
    margin-left: 0.5rem;
}

.property-details-info {
    margin: 1rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-weight: 500;
}

.property-details-info-item {
    width: 20%;
    background-color: #CFD8DC;
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0.3rem;
    border-radius: 1rem;
}

.property-details-facilities {
    width: 100%;
}

.property-details-facilities-header {
    font-size: 25px;
    color: #424242;
    font-weight: 600;
}

.property-facilities-details-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 2rem;
}

.property-facilities-details-item {
    color: #424242;
    font-size: 16px;
    font-weight: 400;
    width: 22%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
    margin: 0.5rem 0;
}

.check-item-icon {
    width: 25px;
    height: 25px;
}

.facility-item-details {
    margin-right: 0.5rem;
    font-size: 18px;
    font-weight: 400;
}

.property-details-description {
    padding: 1rem;
    margin: 1.5rem;
    width: 75%;
    /* border: 1px solid red; */
    line-height: 1.2rem;
    font-size: 18px;
    font-weight: 500 !important;
    color: #616161;
}

.property-conditions-content {
    padding: 1rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.agency-information-content {
    padding: 1rem;
    margin: 1.5rem;
}

.agency-title-name {
    font-size: 25px;
    font-weight: 500;
}

.agency-field-row {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1rem 0;
}

.agency-field-key {
    font-size: 20px;
    font-weight: 550;
    margin-left: 1rem;
}

.agency-field-value {
    font-size: 16px;
    font-weight: 550;
    color: #616161;
}